OPENAI_API_KEY=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
FINNHUB_API_KEY=d6lbl6hr01qr0gn6jls0d6lbl6hr01qr0gn6jlsg